.nav-item:active {
	background-color: #222222
}

body {
	background-color: #050505
}

.container-fluid {
	padding-left: 7%;
	padding-right: 7%;
	color: white;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: right;
}
